body {
  height: 100%;
  background-color: #282c34;
}

.app {
  .header {
    font-size: calc(10px + 2vmin);
    color: bisque;

    a {
      color: bisque;
    }
  }

  .page {
    color: aqua;
    margin-left: 2rem;
  }

}
