@import "Grid";

body {
  height: 100%;
  background-color: #282c34;
}

.app {
  .header {
    font-size: calc(10px + 2vmin);
    color: bisque;

  }

  a {
    color: bisque;
  }

  .page {
    color: beige;
    margin: 2rem;

    h3{
      border-top: 1px solid orangered;
      padding-top: 1rem;
    }
  }

  .markdown{
    border: 1px solid darkgray;
    color: black;
    background-color: antiquewhite;
  }

  pre > code{
    background-color: #eee;
    border: 1px solid #999;
    padding: 1rem;
    color: #282c34;
    display: block;
    font-family: Consolas, Menlo, monospace;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    max-width: 100%;
    min-width: 100px;
    word-wrap: normal;
    }
}
